<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
  rel="stylesheet"
/>

<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search city" name="city" [(ngModel)]="city"/>
  </form></div>
<div class="container">
  <div class="upper-section">
    <img src="../assets/hot.jpg" *ngIf="temperature>15" />
    <img src="../assets/cold.jpg" *ngIf="temperature<=15" />

    <div class="weather-data">
      <div class="location">{{name}}</div>
      <div class="temperature">{{temperature}}°c</div>
    </div>
  </div>
  <div class="lower-section">
    <p>More information</p>
    <div class="data">

      <div class="info-block">
        <div class="info-label" >
          <img src="../assets/high-temperature.png" alt="" />
          <span>High</span>
        </div>
        <div class="value">{{temp_max | number:'1.0-0'}}°c</div>
      </div>

      <div class="info-block" >
        <div class="info-label">
          <img src="../assets/low-temperature.png" alt="" />
          <span>Low</span>
        </div>
        <div class="value">{{temp_min | number:'1.0-0'}}°c</div>
      </div>

      <div class="info-block">
        <div class="info-label" >
          <img src="../assets/humidity.png" alt="" />
          <span>Humidity</span>
        </div>
        <div class="value">{{humidity}} %</div>
        </div>

      
        <div class="info-block" >
        <div class="info-label">
          <img src="../assets/wind.png" alt="" />
          <span>Wind</span>
        </div>
        <div class="value">{{wind}} km/h</div>
        </div>
        
      </div>
    </div>
  </div>
